* {
	margin: 0;
	padding: 0;
}

.project-manger {
	margin: 20px;
	font-family: serif, "Microsoft YaHei";
}

.cards {
	display: flex;
	justify-content: space-around;
}

.flex-card {
	position: relative;
	width: 23%;
	height: 130px;
	border-radius: 5px;
	color: white;
}

.alltasks-card {
	background-color: #31b48d;
}

.unsolved-card {
	background-color: #38a112;
}

.processing-card {
	background-color: #7538c7;
}

.solved-card {
	background-color: #3b67a4;
}

.card-title {
	position: absolute;
	top: 30px;
	left: 20px;
	font-size: 14px;
}

.card-count {
	position: absolute;
	bottom: 40px;
	left: 20px;
	font-size: 32px;
	font-weight: 500;
	line-height: 20px;
}

.real-time {
	position: absolute;
	top: 25px;
	right: 20px;
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

.flex-card .iconfont {
	position: absolute;
	top: 14px;
	right: 15px;
	opacity: 0.3;
	font-size: 100px;
}

.card-percentage {
	position: absolute;
	bottom: 40px;
	right: 20px;
	font-size: 32px;
	font-weight: 500;
	line-height: 20px;
}

.list-title {
	margin: 40px 0 40px;
	font-size: 30px;
	font-weight: 900;
}

.item-list {
	position: absolute;
	width: calc(100% - 40px);
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.list-head {
	background: #ebecf0;
}

tr {
  border-bottom: 1px solid #dcdee3;
}

td {
	padding: 20px;
}

.item-name {
  width: 25%;
}

.item-description {
  width: 45%;
}

.description {
  display: -webkit-box;
	width: 95%;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.description:hover {
  display: block;
}

.delete-btn {
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #ee706d;
  color: white;
}

.active-task {
  color: #666666;
}

.pending-task {
  color: #ee706d;
}

.closed-task {
  color: #f7da47;
}

.confirm-page {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.point {
  position: absolute;
  left: 50%;
  top: 50%;
}

.confirm-box {
  position: absolute;
  width: 340px;
  height: 180px;
  left: -170px;
  top: -90px;
  border-radius: 5px;
  background-color: white;
}

.icon-wenhao {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 24px;
  color: #F1C826;
}

.icon-guanbi {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 16px;
  color: #666;
}

.prompt {
  position: absolute;
  top: 35px;
  left: 60px;
  line-height: 24px;
  color: #333;
  font-size: 20px;
}

.confirm-box p {
  position: absolute;;
  top: 65px;
  left: 60px;
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

.confirm-btn {
  position: absolute;
  bottom: 20px;
  right: 90px;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  outline: none;
  background-color: #3080FE;
}

.cancel-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  outline: none;
}